<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Utilizadores</title>
</head>
<body>
	<h1>pgAdmin</h1>
    <h3>Lista de Utilizadores</h3>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Ativo</th>
            </tr>
        </thead>
        <tbody>
            {% for utilizador in utilizadores %}
                <tr>
                    <td>{{ utilizador.utilizador_id }}</td>
                    <td>{{ utilizador.nome }}</td>
                    <td>{{ utilizador.email }}</td>
                    <td>{{ utilizador.is_staff }}</td>
                    <td>{{ utilizador.is_active }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Nenhum utilizador encontrado</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>


















